@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

h2 {
    font-family: "Quicksand", sans-serif; 
    font-size: 3rem;
    text-align: center;
    margin-top: 100px;
}

.traco {
    background-color: #9B7FE9;
    width: 180px;
    height: 6px;
    margin-bottom: 100px;
}

#tracoInicial {
    width: 100px;
    height: 10px;
    background-color:#9B7FE9;
    margin-bottom: 25px;
}

header {
    width: 98vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0b06127a;
}

header img {
    width: 10vw;
    margin-left: 10px;
}

header a {
    text-decoration: none;
    color: white;
    font-family: "Montserrat", serif;
    font-size: 1.4rem;
    padding: 25px;
}

#pgInicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #DAE0F3;
    color: #ffffff;
    height: 100vh;
    background-image: url(img/fundo.png);
}

#pgInicial p {
    background-color: #25163D;
    font-family: "Montserrat", serif;
    width: 50vw;
    font-size: 1.5rem;
    line-height: 40px;
}

#pgInicial h1{
    font-size: 4rem;
    font-family: "Poppins", serif;
    background-color: #25163D;
    width: 50vw;
}

#containerInicial {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    color: #0B0612;
}

#containerSobre {
    display: flex;
    font-size: 2rem;
    font-family: "Montserrat", serif;
    text-align: center;
    flex-wrap: wrap;
    width: 75vw;
    justify-content: space-between;
}

.sobre {
    padding: 5vw;
    width: 280px;
}

.sobre b {
    font-family: "Poppins", serif;
}

.sobre p {
    margin: 0;
}

#areas {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", serif;
    padding-bottom: 100px;
    background-color: #F1EFFF;
}

#areas b {
    font-family: "Poppins", serif;
    border-right: #4F3678 5px solid;
    width: 350px;
    text-align: center;
    display: flex;
    align-items: center;
    color: #0B0612;
}

#gbd, #devWeb, #sistemas {
    display: flex;
    font-size: 2rem;
    justify-content: flex-start;
    width: 55vw;
}

#sistemas {
    border-top: solid 5px #4F3678;
    border-bottom: solid 5px #4F3678;
}

#areas ul {
    list-style: none;
}

#tblAreas {
    line-height: 45px;
}

#comoIngressar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F1EFFF;
}

#ingressar {
    display: flex;
    padding-bottom: 100px;
    width: 100%;
}

#passosDireita, #passosEsquerda {
    display: flex;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    line-height: 2.8rem;
    font-size: 2rem;
    color: #0B0612;
    width: 26.5vw;
}

#passosEsquerda p{
    text-align: right;
    margin: 0;
    margin-right: 2.8vw;
}

#passosDireita p{
    text-align: left;
    margin: 0;
    margin-left: 2.8vw;
}

#passosEsquerda {
    padding-top: 10px;
}

.passos {
    font-family: "Montserrat", sans-serif;
    color: #4F3678;
    font-weight: bold;
    font-size: 2.3rem;
}

#passosDireita .passos, #resul {
    padding-top: 250px;
}

.bolinha {
    width: 35px;
    height: 35px;
    border: 3px solid #4F3678;
    border-radius: 50%;
    background-color: #F1EFFF;
}

.bolinha:hover {
    transition: 0.3s;
    background-color: #4F3678;
}

#bolinhas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 5px;
    background-color: #4F3678;
    align-items: center;
    
}

#containerPassos {
    display: flex;
    margin-left: 20vw;
}

#docentes {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.card {
    width: 450px;
    height: 400px;
    perspective: 2000px;
    border-radius: 10px;
}

.card img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    border: solid 6px white;
}

.frontRoxa {
    background-color: #4F3678;
    width: 450px;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 2, 0.452);
    transition: transform 1s;
    transform-style: preserve-3d;
    border-radius: 10px;
  }

.card:hover .content {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
  }

.front, .back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    text-align: center;
    backface-visibility: hidden;
    border-radius: 10px;
}

.back {
    transform: rotateY( 180deg );
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.front p{
    margin: 0;
    font-family: "Montserrat", serif;
}

.back p {
    font-family: "Montserrat", serif;
    width: 90%;
    text-align: justify;
}

.nomeProf {
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 1.5rem;
}

#profs {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    width: 80vw;
}

.imgCampus {
    /* width: 634px; */
    width: 31vw;
    /* height: 500px; */
    height: 25vw;
    background-color: grey;
    margin: 0.75vw;
}

#galeria {
    display: flex;
    flex-wrap: wrap;
    border: solid 2px red;
    width: auto;
    justify-content: center;
}
